<p-toolbar *ngIf="!isSidebarVisible" [style]="{ 'padding': '1rem 1rem 1rem 1.5rem', 'width': '100%', 'max-width': '100%' }">
  <ng-template #start>
    <span class="titulo">{{ titulo }}</span>
    <div class="horizontal-menu-container">
      <!-- Menú horizontal -->
      <ul class="horizontal-menu">
        <li *ngFor="let item of menuItems" class="horizontal-menu-item">
          <!-- Llamamos al componente toolbar-item en lugar de sidebar-item -->
          <app-toolbar-item [item]="item"></app-toolbar-item>
        </li>
      </ul>
    </div>
  </ng-template>


</p-toolbar>
