<a (click)="toggleExpansion()"
   class="menu-link"
   [class.has-children]="item.items && item.items.length > 0"
   [class.clickable]="item.routerLink || (item.items && item.items.length > 0)">
  <i [class]="item.icon" class="menu-icon"></i>
  <span class="menu-label">{{ item.label }}</span>
  <!-- Icono que rota según si está expandido o no -->
  <ng-container *ngIf="item.items && item.items.length > 0">
    <i
      class="pi pi-chevron-down expand-icon"
      [ngClass]="{ 'expanded': item.expanded }"
    ></i>
  </ng-container>
</a>

<!-- Submenu with smooth animation -->
<ul class="submenu" [ngClass]="{ 'expanded': item.expanded }" *ngIf="item.items && item.items.length > 0">
  <li *ngFor="let subItem of item.items" class="submenu-item">
    <!-- Llamada recursiva para submenús -->
    <app-sidebar-item [item]="subItem" [depth]="depth + 1"></app-sidebar-item>
  </li>
</ul>
